.standard {
    background-color: white;
    border-width: 5vw;
    border-color: lightblue;
    border-style: solid;
    font-family: 'Playfair Display';
    width: 65%;
    overflow: auto;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.standard .containerbytwo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    padding: 1%;
}

 
 .standard .containerbythree .card {
    padding: 10px;
    margin-bottom: 10vh;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    height: 30vh;
    width: 7lh;
  }

  .centeredcolumncard {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  .standard .containerbythreecentered .card > p {
    margin: 0
  }
  
.standard .containerbytwo h8{
    justify-content: left;
    justify-self: left;
    font-size:medium;
    text-underline-offset: 10;
}

.standard li{
    justify-content: left;
    font-size:medium;
}

.standard  h8{
    margin-left: 1lh;
    justify-content: left;
    justify-self: left;
    font-size:medium;
    text-underline-offset: 10;
}

.standard  h5{
    margin-left: 0.5lh;
    justify-content: left;
    justify-self: left;
    margin-bottom: 5vh;
}

.standard div1 {
  font-size: medium;
  font-weight: bold;
  margin-left: 1lh;
}


.standard .containerbytwo .div2 {
	float:left;
	right:10lh;
	margin-right: 1lh;
	margin-left: auto;
	flex-shrink: 0;
}



.standard .rectangularimage {
	align-items: left;
  justify-content: left;
	margin-top: 2vh;
	margin-left: 2lh;
	height: 2vh;
}