.card {
    display: flex;
    flex-direction: column;
    padding: 2%;
    border: 1px solid #ddd;
    border-radius: 5%;
    background-color: #f9f9f9;
    margin-left: 1lh;      
    margin-right: 1lh;
    margin-top: 2lh;
    margin-bottom: 2lh;      
  }