.standard {
    background-color: white;
    border-width: 5vw;
    border-color: #cce8ff;
    border-style: solid;
    font-family: 'Playfair Display';
    width: 65%;
    overflow: auto;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    margin: auto;
}


.bold {
    font-weight: bold;
    font-size: medium;
}

.italic {
    font-style: italic;
}

.standard .roundimage{
    border-radius: 50%;
    object-fit: cover;
    height:50vh;
    width: 50vh;
}

.standard .rectangularimage {
	align-items: left;
  justify-content: left;
	margin-top: 2vh;
	margin-left: 2lh;
	height: 2vh;
}


.standard p{
    justify-content: left;
    font-size:medium;
    justify-self: left;
    margin-left: 1lh;
}

.standard h8{
    margin-left: 1lh;
    justify-content: left;
    justify-self: left;
    font-size:medium;
    text-underline-offset: 10;
    font-weight: bold;
}

.standard  h5{
    margin-left: 0.5lh;
    justify-content: left;
    justify-self: left;
    margin-bottom: 5vh;
    font-size: medium;
}

.standard div1 {
    font-size: medium;
    font-weight: bold;
    margin-left: 1lh;
}

.standard li{
    justify-content: left;
    font-size:medium;
}


@media(max-width: 800px) {
    .standard {
        background-color: white;
        border-width: 5vw;
        border-color: #cce8ff;
        border-style: solid;
        font-family: 'Playfair Display';
        width: 65%;
        overflow: auto;
        flex-grow: 1;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    
    .standard .roundimage{
        border-radius: 50%;
        object-fit: cover;
        height:30vh;
        width: 30vh;
    }

}
