.standard {
    background-color: white;
    border-width: 5vw;
    border-color: lightblue;
    border-style: solid;
    font-family: 'Playfair Display';
    width: 65%;
    overflow: auto;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    margin: auto;
}


.bold {
    font-weight: bold;
    font-size: medium;
}

.italic {
    font-style: italic;
}

.roundimage{
    border-radius: 50%;
    object-fit: cover;
    height:50vh;
    width: 50vh;
}


.p{
    justify-content: left;
    font-size:medium;
    justify-self: left;
    margin-left: 1lh;
}
