.standard {
    background-color: white;
    border-width: 3vw;
    border-color: lightblue;
    border-style: solid;
    font-family: 'Playfair Display';
    width: 80%;
    overflow: auto;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    margin: auto;

}

.standard .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    padding: 1%;
}

.standard .container img{
    border-radius: 50%;
    object-fit: cover;
    height:50vh;
    width: 50vh;
}

.standard .container p{
    justify-content: left;
    font-size:xx-small;
    justify-self: left;
}

.standard .container h8{
    justify-content: left;
    justify-self: left;
    font-size:xx-small;
    text-underline-offset: 10;
}