.header {
	margin: 0;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Playfair Display';
	background-color: black;
	color: white;
	height: 15vh;
	display:flex;
	align-items: center;
	text-align: center;   
	justify-content: center;	
	position: relative; 
	top: 0;
	width: 100%;
}

.header a1 {
	color: inherit;
}

.header a {
	font-family: 'Playfair Display';
	float: center;	
	text-decoration: none;
	font-size: 4rem;
	color: inherit;
	justify-content: center;
	position: absolute;
}
.header button {
	background-color: inherit;
	box-shadow: none;
}

.image1{
	height:5rem;
	margin-right:auto;
	flex-shrink: 0;                 
	float: left;	
}

.div2 {
	float:left;
	right:1lh;
	margin-right: 5lh;
	margin-left: auto;
	flex-shrink: 0;
}

.image2 {
	align-items: right;
	margin-top: 2vh;
	margin-left: 2lh;
	height: 2vh;
}


@media(max-width: 1000px) {
	.header {
		margin: 0;
		margin-left: auto;
		margin-right: auto;
		font-family: 'Playfair Display';
		background-color: black;
		color: white;
		height: 15vh;
		display:flex;
		align-items: center;
		text-align: center;   
		justify-content: center;	
		position: relative; 
		top: 0;
		width: 100%;
	}

	.header a {
		font-family: 'Playfair Display';
		float: center;	
		text-decoration: none;
		font-size: 2.5rem;
		color: inherit;
		justify-content: center;
		position: absolute;
	}

	.image1{
		height:3rem;
		margin-right:auto;
		flex-shrink: 0;                 
		float: left;	
	}
}