.header {
	margin: 0;
	font-family: 'Playfair Display';
	background-color: black;
	color: white;
	height: 15vh;
	display:flex;
	align-items: center;
	text-align: center;   
	justify-content: flex-start;	
	position: fixed; /* Fix the header to the top of the viewport */
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000; /* Ensure the header stays on top of other content */
	box-shadow: 0 4px 2px -2px gray; /* Optional: Adds shadow effect */
}

.header div {
	float: left;
	margin-right: 35vw;  /* Adds some space between the image and h1 */
	width: 15vh;
	height: 15vh;
	flex-shrink: 0;                 /* Prevent image from shrinking */
}