.collapsable {
    background-color: #F5F5F5;
    font-family: 'Playfair Display';
    border-color: black;
    padding: 2%;
    text-align: left;
}
.collapsable button {
    font-family: 'Playfair Display';
    background-color: #F5F5F5;
    width: 100%;
    text-align: left;
    border:none;
    font-size: medium;
    padding-bottom: 2%;
}

.collapsable p {
    font-size: medium;
}

.collapsable div {
    width: 95%;
    margin: auto;
    border: 1px solid #ddd;
    border-radius: 2%;
    background-color: #f9f9f9;
    justify-content: center;
}

.collapsable div1 {
    font-size: medium;
    font-weight: bold;
    margin-left: 1lh;
}

.collapsable p{
    justify-content: left;
    font-size:medium;
    justify-self: left;
    margin-left: 1lh;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}
