.App {
  background-color:black ; 
}
html, body {
  height:100%;
  background-color:black ; 
  
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  font-family: 'Playfair Display';
  height: 5vmin;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  vertical-align: center;
  font-size: calc(10px + 2vmin);
}

.App-collapsible {
  justify-content: center;
  min-height: 1000vh;
  flex-direction: column;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
